@import './scss/mixins';
@import './scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,200&display=swap');

.btn--principal {
  @include buttons($principal, 31.25rem);
}

#root {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #efefff;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 520px) {
  .btn--principal {
    @include buttons($principal, 20rem);
  }
}
